---
import H1 from "../components/H1.astro";
import Main from "../components/Main.astro";
import Paragraph from "../components/Paragraph.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About | Flowers Nation">
  <Main>
    <H1 text="About Flower Nation" />
    <Paragraph>
      Flower Nation blog was developed as a learning project for the
      knowledge-based article about Astro.
      <br />
      <br />
      Thank you for visiting Flower Nation – we hope to inspire your love for flowers
      and help your curiosity bloom.</Paragraph
    >
  </Main>
</Layout>
