---
import H1 from "../components/H1.astro";
import Main from "../components/Main.astro";
import Paragraph from "../components/Paragraph.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Flowers Nation Blog">
  <Main>
    <H1 text="Welcome to Flower Nation" />
    <Paragraph>
      Welcome to <b>Flower Nation</b> - where the beauty, wonder, and diversity of
      the floral world come to life!
      <br />
      <br />
      Whether you’re a budding gardener, a flower enthusiast, or someone who simply
      loves nature’s blooms, you’ve found your new favorite spot. Explore our growing
      library of articles on everything from gardening tips and floral care to the
      symbolic meanings of different flowers. At Flower Nation, we celebrate flowers
      in all their forms, colors, and seasons.
      <br />
      <br />
      We invite you to join us on this journey through the blossoming fields of nature.
      Let’s grow together!
    </Paragraph>
  </Main>
</Layout>
